<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SampleSuite" thread-count ="1" parallel ="methods">
	<!--<parameter name="browser" value="chrome"></parameter> -->
<test name="ModuleOneTest">
	<classes>
      <class name="parallelScripts.SampleOneTest"/>
    </classes> 	  	
  </test> 
</suite>	
<!--<groups>
		<define name="Smoketest">
		<include name="FeatureOne"></include>
			<include name="Featuretwo"></include>
		</define>
			<define name="Regressiontest">
			<include name="FeatureOne"></include>
			<include name="Featuretwo"></include>
			<include name="FeatureThree"></include>
			</define>
			<run>
				<include name="Smoketest"></include>-->
				<!--<include name="Regressiontest"></include> -->
				<!--<exclude name="Smoketest"></exclude>
		</run>
	</groups>
    <classes>
      <class name="parallelScripts.SampleOneTest"/>
      <class name="parallelScripts.SampleTwoTest"/>
      <class name="parallelScripts.SampleThreeTest"/>
    </classes> 	  	
  </test> --> <!-- ModuleOneTest -->
  
 <!-- SampleSuite -->
